{
    default_sni {$REMOTE_RS_HOST}
}

https://{$REMOTE_RS_HOST}:8443 {
    tls internal
    encode zstd gzip

    header {
        X-Content-Type-Options "nosniff"
        X-Frame-Options "SAMEORIGIN"
        Referrer-Policy "no-referrer"
    }

    @api path /api/*
    handle @api {
        reverse_proxy api:3000
    }

    handle {
        root * /srv
        try_files {path} /index.html
        file_server
    }
}
